ion-content{

  text-align: center;



}
h1, h4 {
  color: rgb(0, 0, 0);
  font-size: xx-large;
}
h1{
  margin-top:80px
}
.box{
  margin-top:20vh
}
.retour{
  color: rgb(255, 0, 0);
  margin-top:100px;



}



