
.item{
    --ion-background-color: transparent;

.padding{
    padding: 7%;

}
.labell{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;

}
ion-button{
    align-items:center ;
    color: rgb(0, 0, 0);



}
ion-label{

  color: #fff;
}
ion-input{
  color: #fff;

}
.logo{
    height: 250px;

}

.form{
    margin-top: -290px;
}

  }
  .padding{
    padding: 7%;
  
  }
  .labell{
    text-align: center;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  
  }
  ion-button{
    align-items:center ;
    color: rgb(0, 0, 0);
  
  
  
  }
  ion-label{
  
  color: rgb(255, 0, 0);
  }
  ion-input{
  color: #fff;
  
  }
  .logo{
    height: 250px;
  
  }
  .image{
    position: absolute;
    margin-top: -80px;
    width: 130px;
    height: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -160%);
  }
  

  .fond{
      background-color: #fff;
      height: 100vh;
  }

