
.item{
  --ion-background-color: transparent;
}
.padding{
  padding: 7%;

}
.labell{
  text-align: center;
}
.flex{
  display: flex;
  justify-content: space-between;

}
ion-button{
  align-items:center ;
  color: rgb(0, 0, 0);



}
ion-label{

color: #fff;
}
ion-input{
color: #fff;

}
.logo{
  height: 250px;

}
.image{
  position: absolute;
  margin-top: -90px;
  width: 130px;
  height: 130px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -160%);
}
.form{
  margin-top: -60px;
}

.logo{
    height: 250px;

}
.image{
    position: absolute;
    margin-top: -90px;
    width: 130px;
    height: 130px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -160%);
}
