<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Ajouter une depense</ion-title>
  </ion-toolbar>
</ion-header> -->

<!--
<ion-content>

  <ion-button  expand='block' (click)="takePicture()">Ajouter une Image</ion-button>
  <ion-list>
    <form class="form"
    name="form"
    (ngSubmit)=" onSubmit()"
    #f="ngForm"
    >
    <ion-item class="item"  >
      <ion-label floating >Nom</ion-label>
      <ion-input [(ngModel)]="depense.nom" [ngModelOptions]="{standalone: true}"   placeholder="Nom" type="text"></ion-input>
    </ion-item>


    <ion-item class="item">
      <ion-label >Prix</ion-label>
      <ion-input [(ngModel)]="depense.valeur" [ngModelOptions]="{standalone: true}"  placeholder="Valeur" type="number"></ion-input>
    </ion-item>


    <ion-item class="item"  >
      <ion-label >Date d'achat</ion-label>
      <ion-input [(ngModel)]="depense.date" [ngModelOptions]="{standalone: true}" placeholder="Date d'achat" type="date"></ion-input>
    </ion-item>


    <ion-item class="item">
      <ion-label >Type de dépense</ion-label>
      <ion-select [(ngModel)]="depense.type" [ngModelOptions]="{standalone: true}" placeholder="---">
      <ion-select-option placeholder="---">---</ion-select-option>
      <ion-select-option [value]="type.title" *ngFor="let type of types" >{{type.title}}</ion-select-option>

      </ion-select>
    </ion-item>


    <ion-item class="item">
      <ion-label >Catégorie</ion-label>
      <ion-select [(ngModel)]="depense.categorie" placeholder="---">
        <ion-select-option placeholder="---">---</ion-select-option>
        <ion-select-option [value]="cat.title" *ngFor="let cat of categories" >{{cat.title}}</ion-select-option>

        </ion-select>
    </ion-item>
    <ion-item class="item"  >
      <ion-label floating >Description</ion-label>
      <ion-input [(ngModel)]="depense.description"   placeholder="Description" type="text"></ion-input>
    </ion-item>
    

    <ion-button (click)="onSubmit()" expand="block" shape="round"  color="success" routerLink="/historique">Ajouter</ion-button>

  </form>
  <ion-button expand="block" shape="round" color="danger" routerLink="/home" >Annuler</ion-button>
  </ion-list>

</ion-content>
 -->


 <ion-header>
  <ion-toolbar>
    <ion-title>Ajouter une depense</ion-title>
  </ion-toolbar>
</ion-header>
<div class="fond">
  <div class="padding">


    <div class="col-md-12">
      <div class="card card-container">

        <form class="form"

          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>


          <ion-item class="item">
            <label for="nom">Nom</label>
            <input
              type="nom"
              class="form-control"
              name="nom"

              [(ngModel)]="depense.nom"
              required
              nom
              #nom="ngModel"
            />
            <div class="alert-danger" *ngIf="nom.errors && f.submitted">
              <div *ngIf="nom.errors['required']">Nom requis</div>

            </div>
          </ion-item>
          <ion-item class="item">
            <label for="valeur">Prix</label>
            <input
              type="text"
              class="form-control"
              name="valeur"
              [(ngModel)]="depense.valeur"
              required
              #valeur="ngModel"
            />
          </ion-item>

            <ion-item class="item">
              <label for="password">Date d'achat</label>
              <input
                type="date"
                class="form-control"
                name="date"
                [(ngModel)]="depense.date"
                required
                #date="ngModel"
              />
            </ion-item>
              <ion-item class="item">
                <label for="description">Description</label>
                <input
                  type="text"
                  class="form-control"
                  name="description"
                  [(ngModel)]="depense.description"
                  required
                  #description="ngModel"
                /> </ion-item>
                <ion-item class="item">
                  <ion-label >Catégorie</ion-label>
                  <ion-select [(ngModel)]="depense.categorie" [ngModelOptions]="{standalone: true}" placeholder="---">
                    <ion-select-option placeholder="---">---</ion-select-option>
                    <ion-select-option [value]="categorie.title" *ngFor="let categorie of categories" >{{categorie.title}}</ion-select-option>
            
                    </ion-select>
                </ion-item>

                <ion-item class="item">
                  <ion-label >Type de dépense</ion-label>
                  <ion-select [(ngModel)]="depense.type" [ngModelOptions]="{standalone: true}" placeholder="---">
                  <ion-select-option placeholder="---">---</ion-select-option>
                  <ion-select-option [value]="type.title" *ngFor="let type of types" >{{type.title}}</ion-select-option>
            
                  </ion-select>
                </ion-item>

        
         
          <div class="item">

            <ion-button expand="block" shape="round"  color="tertiary" type="submit" (click)="onSubmit()" routerLink="/historique">Ajouter</ion-button>


            <ion-button expand="block" shape="round"  color="tertiary" routerLink="/historique"> Annuler</ion-button>



    
          </div>
    
        </form>
      
      </div>
    </div>
    <br><br>
    <ion-button expand="block" shape="round" fill="clear"  routerLink="/home">Retour</ion-button>



        </div>
      </div>






